.App {
  min-height: 100vh;
}

.wrapper {
  display: flex;
}

.left {
  margin: 16px 8px 0px 32px;
  width: 70%;
}

.right {
  width: 30%;
  margin: 16px 32px 16px 8px;
}

.footer {
  color: aliceblue;
  background-color: #001529;
}

.footer h3 {
  color: aliceblue !important;
  padding: 16px 16px 8px 24px;
}

.list-phone {
  display: flex;
  padding: 0 24px 24px 24px;
  justify-content: space-between;
}

.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0 10%;
  padding: 12px;
}

@media (max-width: 768px) {
  .navbar {
    display: inline-block !important;
    position: relative;
  }
  .menu {
    width: 60px !important;
    position: absolute;
    right: 0;
  }

  .hotline {
    width: 100%;
    background-color: #001529;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
    display: none;
  }

  .wrapper {
    display: block;
  }

  .countrySelector {
    margin: 16px 0 0 16px !important;
  }

  .left {
    display: block;
    width: 100%;
    margin: 8px 8px;
  }

  .right {
    width: 100%;
  }

  .hightLight {
    width: 100%;
  }
  .rowCard {
    display: block;
  }
  .colCard {
    max-width: 95% !important;
    padding: 4px 0;
  }

  .lineChart {
    width: 95%;
  }

  .list-phone {
    display: block;
  }

  .img {
    width: 100vw !important;
  }

  .news {
    display: block !important;
  }

  .listNews,
  .video {
    width: 100% !important;
  }

  .video {
    margin: 16px 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .rowCard,
  .list-phone {
    display: flex;
  }
}
