.App {
  min-height: 100vh;
  background-color: aliceblue;
}

.wrapper {
  display: flex;
}

.left {
  margin: 16px 8px 16px 32px;
  width: 70%;
}

.right {
  width: 30%;
  margin: 16px 32px 16px 8px;
}
